.jobs-bg-container {
  background-color: black;
  padding: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.search-input-container {
  height: 35px;
  background-color: transparent;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  border-radius: 5px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-input {
  background-color: transparent;
  height: 100%;
  width: 90%;
  border-width: 0px;
  padding: 10px;
  color: white;
}
.search-icon-button {
  background-color: gray;
  height: 100%;
  width: 10%;
  outline: none;
  border-width: 0px;
  cursor: pointer;
}
.filter-group-container {
  width: 30%;
}
.jobs-data-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
.jobs-list {
  list-style-type: none;
  margin-left: 0px;
  padding: 0px;
}
.filter-names {
  color: white;
}
.heading {
  font-size: 25px;
  font-weight: 600;
}
.no-job-image {
  height: 50%;
  width: 60%;
}
.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: black;
  border-radius: 15px;
  margin-bottom: 20px;
}
.name {
  color: #4f46e5;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 25px;
}
ul {
  list-style-type: none;
  padding: 0px;
}

@media (max-width: 768px) {
  .jobs-bg-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
  }
  .filter-group-container {
    width: 100%;
  }
  .jobs-data-container {
    width: 100%;
    padding-left: 0px;
  }
  .search-input-container {
    width: 100%;
    margin-top: 30px;
  }
  .jobs-failure-img {
    width: 100%;
  }
}
